
{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block content %}

<div class="sign_body">
<h4>Create a username to continue!</h4>
<form action="/signin" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" autofocus aria-describedby="userHelp">
        <small id="userHelp" class="form-text text-muted"></small>
    </div>
    <button class="btn btn-primary" type="submit">Sign In</button>
</form>
</div>

{% endblock %}